<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/ADAROUS">Diana</a>. A wannabe web developer who is on a mission to put herself out of her comfort zone as much as possible, whenever possible. Just kidding, a future web developer. There, she wrote it. As in I wrote it. So it must mean something. 
</p>
<br />
<p>
  My goal is to learn as much as I can, with as much humility and curiosity as my soul and brain can fit, about conding, programming and everything that stems from these two. All, without forgetting that impostor syndrome is real. And while it may hit a lot of us, it is important to remind ourselves that the best way to conquer a fear is simply to face it head on. 
</p>
<P> 
  If you want to conquer your fears, may that be coding or whatever else your soul desires, now or in the future, the best way to start is by taking the first step. However, if what you truly want is to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</P

<div class="row">
  <div class="col-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'diana.JPG', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Diana Ambrosie</h2>
    <br />
    <p>
  Diana is currently working in the tourism and hospitality industry. Diana is very passionate about her career yet very excited to deep dive into the coding universe. In the near future, she hopes to combine her love of people, business and technology into one rewarding career that will enable her to be a nomad for an indefinite amount of time. 
    </p>
  </div>
</div>  
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

