/* Sticky footer styles 
----------------------------------- */
html {
  position: relative; 
  min-hight: 100%; 
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; 
}

